.first_video_div{
  border: 1px solid #0000ff;
  display: inline-block;
  margin: 15px;
  float:left;
}

.second_video_div{
  border: 1px solid #0000ff;
  display: inline-block;
  margin: 15px;
  float: left;
}

.third_video_div{
  border: 1px solid #0000ff;
  display: inline-block;
  margin: 15px;
  float:left;
}

.fourth_video_div{
  border: 1px solid #0000ff;
  display: inline-block;
  margin: 15px;
  float:left;
}

.first_video_parameters{
  border: 1px solid blue;
  background-color: rgb(250, 253, 247);
  display: block;
  width: 484px;
  height: 620px;
}

.second_video_parameters{
  border: 1px solid blue;
  background-color: rgb(250, 253, 247);
  display: block;
  width: 484px;
  height: 620px;
}

.third_video_parameters{
  border: 1px solid blue;
  background-color: rgb(250, 253, 247);
  display: block;
  width: 484px;
  height: 620px;
}

.fourth_video_parameters{
  border: 1px solid blue;
  background-color: rgb(250, 253, 247);
  display: block;
  width: 484px;
  height: 620px;
}

.first_video {
  display: block;
  width: 384px;
  height: 216px;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
}

.second_video {
  display: block;
  width: 384px;
  height: 216px;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);

}

.third_video {
  display: block;
  width: 384px;
  height: 216px;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);

}

.fourth_video {
  display: block;
  width: 384px;
  height: 216px;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);

}

.red_text_bold{
  color:red;
  font-weight: bold;
  padding: 1px;
  margin: 1px;
}